{% extends "layouts/base.njk" %}

{% block content %}
    <section class="section-about">
        <div class="wrapper">
            <div class="section-about__inner">
                <h1 class="section-about__title">About</h1>
                <p class="lede section-about__lede"> 
                    We help companies build dynamic teams made up of top global talent. 
                    Using our network of passionate professionals we drive innovation 
                    and deliver incredible outcomes. Talented, diverse teams shape the 
                    best products and experiences. We’ll bring those teams to you.
                </p>
            </div>
        </div>
    </section>
    <section class="section-directors">
        <div class="wrapper">
            <div class="section-directors__inner">
                <h2 class="section-directors__title">Meet the directors</h2>
                {% set people = directors %}
                {% include "partials/people.njk" %}
            </div>
        </div>
    </section>
    <section class="section-clients">
        <h2 class="section-clients__title">Some of our clients</h2>
        {% include "partials/clients.njk" %} 
    </section>

{% include "partials/cta.njk" %}
{% endblock content %}