{% extends "layouts/base.njk" %}

{% block content %}
  <section class="section-talent">
    <div class="wrapper">
      <div class="section-talent__inner">
        <h1 class="h1 h1--large">Find the<br /> best <span class="accent">talent</span></h1>

        <p class="section-talent__lede lede">Finding the right people and building high performing teams can 
    be hard. Most companies aren’t tapping into the abundance of global 
    talent. We’re about to change that.</p>      
      </div>
    </div>
  </section>


  <section class="section-features bg-secondary-700">
    <div class="wrapper">
      <div class="section-features__inner">
        <h2 class="section-features__title">Build & manage distributed teams like no one else.</h2>
        <ul role="list" class="section-features__list flow">
          <li class="feature">
            <img src="images/icon-person.svg" alt="" class="feature__icon">
            <div class="feature__content">
            <h3 class="feature__title">Experienced Individuals</h3>
            <p class="feature__description">Our network is made up of highly experienced professionals who are passionate about what they do.</p>              
            </div>
          </li>
          <li class="feature">
            <img src="images/icon-cog.svg" alt="" class="feature__icon">
            <div class="feature__content">
              <h3 class="feature__title">Easy to Implement</h3>
              <p class="feature__description">Our processes have been refined over years of implementation meaning our teams always deliver.</p>
            </div>
          </li>
          <li class="feature">
            <img src="images/icon-chart.svg" alt="" class="feature__icon">
            <div class="feature__content">
              <h3 class="feature__title">Enhanced Productivity</h3>
              <p class="feature__description">Our customized platform with in-built analytics helps you manage your distributed teams.</p>              
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>




  <section class="section-stories bg-secondary-500">
    <div class="wrapper">
      <div class="section-stories__inner">
        <h2 class="section-stories__title">Delivering real results for top companies. Some of our <span class="secondary-100">success stories.</span></h2>
        <ul class="section-stories__list flow" role="list">
          <li class="story">
            <blockquote class="story__quote">“The team perfectly fit the specialized skill set required. They focused on the most essential features helping us launch the platform eight months faster than planned.”</blockquote>
            <h3 class="story__author">Kady Baker</h3>
            <span class="story__author-role">Product Manager at Bookmark</span>
            <img src="images/avatar-kady.jpg" alt="Kady's avatar" class="story__author-avatar">
          </li>
            <li class="story">
              <blockquote class="story__quote">“We needed to automate our entire onboarding process. The team came in and built out the whole journey. Since going live, user retention has gone through the roof!”</blockquote>
              <h3 class="story__author">Aiysha Reese</h3>
              <span class="story__author-role">Founder of Manage<span>
              <img src="images/avatar-aiysha.jpg" alt="Kady's avatar" class="story__author-avatar">
            </li> 
            <li class="story">
              <blockquote class="story__quote">“Amazing. Our team helped us build an app that delivered a new experience for hiring a physio. The launch was an instant success with 100k downloads in the first month.”</blockquote>
              <h3 class="story__author">Arthur Clarke</h3>
              <span class="story__author-role">Co-founder of MyPhysio</span>
              <img src="images/avatar-arthur.jpg" alt="Kady's avatar" class="story__author-avatar">
            </li> 
        </ul>
      </div>
    </div>
  </section>
    {% include "partials/cta.njk" %}
  {% endblock content %}