{% extends "layouts/base.njk" %}

{% block content %}
  <section>
    <div class="wrapper">
      <h1 class="h1 h1--large">Find the best talent</h1>

      <p class="lede">Finding the right people and building high performing teams can 
  be hard. Most companies aren’t tapping into the abundance of global 
  talent. We’re about to change that.<p>
    </div>
  </section>


  <section class="bg-secondary-700">
    <div class="wrapper">
      <h2>Build & manage distributed teams like no one else.</h2>
      <ul class="features__list">
        <li>
          <h3>Experienced Individuals</h3>
          <p>Our network is made up of highly experienced professionals who are 
  passionate about what they do.</p>
        </li>
        <li>
          <h3>Easy to Implement</h3>
          <p>Our processes have been refined over years of implementation meaning 
  our teams always deliver.</p>
        </li>
        <li>
          <h3>Enhanced Productivity</h3>
          <p>Our customized platform with in-built analytics helps you manage your 
  distributed teams.</p>
        </li>
      </ul>
    </div>
  </section>




    <section class="bg-secondary-700">
      <div class="wrapper">
        <h2>Delivering real results for top companies. Some of our success stories.</h2>

        <blockquote>“The team perfectly fit the specialized skill set required. They focused 
        on the most essential features helping us launch the platform eight months 
        faster than planned.”</blockquote>
        <h3>Kady Baker</h3>
        <span>Product Manager at Bookmark</span>

        <blockquote>“We needed to automate our entire onboarding process. The team came in and 
        built out the whole journey. Since going live, user retention has gone 
        through the roof!”</blockquote>
        <h3>Aiysha Reese</h3>
        <span>Founder of Manage<span>

        <blockquote>“Amazing. Our team helped us build an app that delivered a new experience for 
        hiring a physio. The launch was an instant success with 100k downloads in the 
        first month.”</blockquote>
        <h3>Arthur Clarke</h3>
        <span>Co-founder of MyPhysio</span>
      </div>
    </section>
    <section class="bg-accent dark">
      <div class="wrapper">
        <h2>Ready to get started?</h2>
        contact us
      </div>
    </section>
  {% endblock content %}