.btn {
    display: inline-block;
    border: 2px solid;
    text-decoration: none;
    line-height: 1;
    padding: 1em 2.2em;
    border-radius: $border-radius;
    font-weight: 600;
    cursor: pointer;

    &--ghost-dark {
        border-color: $color-text-dark;
        background: transparent;

        &:hover {
            background: $color-text-dark;
            color: $color-text-light;
        }
    }

    &--ghost-light {
        border-color: $color-text-light;
        background: transparent;

        &:hover {
            background: $color-light;
            background: $color-light;
            color: $color-text-dark;
        }
    }

    &--light {
        color: $color-text-dark;
        background: $color-text-light;
        border-color: transparent;

        &:hover {
            background: $color-text-dark;
            color: $color-light; 
        }
    }
}