$color-primary: #014E56;
$color-accent: #F67E7E;
$color-light: #FFF;
$color-secondary-100: #79C8C7;
$color-secondary-300: #2C6269;
$color-secondary-500: #004047;
$color-secondary-700: #012F34;
$color-secondary-900: #002529;

$color-background: $color-primary;
$color-text-light: $color-light;
$color-text-dark: $color-secondary-700;

$opacity-faded-text-dark: 0.8;

$border-radius: 24px !default;

$font-family-base: 'Livvic', sans-serif;

$breakpoint-tab-port: 48em;
$breakpoint-desktop-small: 90em;


.bg-primary {
    background-color: $color-primary;
}

.bg-secondary-500 {
    background-color: $color-secondary-500;
}

.bg-secondary-700 {
    background-color: $color-secondary-700;
}

.bg-accent {
    background-color: $color-accent;
}

.light {
    color: $color-text-light;
}

.dark {
    color: $color-text-dark;
}

.accent {
    color: $color-accent;
}

.secondary-100 {
    color: $color-secondary-100;
}