@import "theme";
@import "reset";
@import "typography";
@import "layout";

a,
input {
    color: inherit;
}

:focus {
    outline: 2px dotted $color-light;
    outline-offset: 4px;
}

textarea {
    resize: vertical;
}

@import "utils/flow";
@import "utils/wrapper";
@import "utils/visually-hidden";

@import "blocks/avatar";
@import "blocks/clients";
@import "blocks/cta";
@import "blocks/btn";
@import "blocks/form";
@import "blocks/nav";
@import "blocks/people";
@import "blocks/person";
@import "blocks/site-head";
@import "blocks/site-footer";
@import "blocks/social-icon";

@import "blocks/section-about";
@import "blocks/section-clients";
@import "blocks/section-contact";
@import "blocks/section-directors";
@import "blocks/section-features";
@import "blocks/section-stories";
@import "blocks/section-talent";
