@import "theme";
@import "reset";
@import "typography";
@import "layout";

@import "utils/flow";
@import "utils/wrapper";

@import "blocks/cta";
@import "blocks/btn";
@import "blocks/nav";
@import "blocks/site-head";
@import "blocks/site-footer";

@import "blocks/section-features";
@import "blocks/section-talent";

a,
input {
    color: inherit;
}

:focus {
    outline: 2px dotted $color-light;
    outline-offset: 4px;
}