<div class="clients">
    <ul class="clients__list flow" role="list">
        <li>
            <img width="330" height="56" src="/images/logo-the-verge.png" alt="Verge logo" class="clients__logo">
        </li>
        <li>
            <img width="368" height="46" src="/images/logo-jakarta-post.png" alt="Jakarta Post logo" class="clients__logo">
        </li>
        <li>
            <img width="360" height="56" src="/images/logo-the-guardian.png" alt="The Guardian logo" class="clients__logo">
        </li>
        <li>
            <img width="350" height="56" src="/images/logo-tech-radar.png" alt="Techradar logo" class="clients__logo">
        </li>
        <li>
            <img width="196" height="90" src="/images/logo-gadgets-now.png" alt="Gadgets Now logo" class="clients__logo">
        </li>
    </ul>
</div>