<section class="cta">
    <div class="wrapper">
        <div class="cta__inner">
            <h2>Ready to get started?</h2>
            <a href="/contact" class="btn btn--ghost-dark">contact us</a>
        </div>
    </div>
</section>