<header class="site-head" role="banner">
    <div class="wrapper">
        <div class="site-head__inner">
            <img class="site-head__logo" src="/images/logo.svg" alt="MyTeam Logo" />
            <nav class="nav" aria-label="primary" id="primary-navigation">
                <button id="nav-open" class="nav__button nav__button--open" aria-expanded="false" aria-controls="nav-list">
                    <img src="/images/icon-hamburger.svg" alt="">
                </button>
                <div class="nav__overlay"></div>
                <div class="nav__inner">
                    <ul id="nav-list" class="nav__list flow" role="list">
                        <li><a class="nav__list-link" href="/">home</a></li>
                        <li><a class="nav__list-link" href="/about">about</a></li>
                        <li><a class="nav__list-link btn btn--ghost-light" href="/contact">contact us</a></li>
                    </ul>
                    <button id="nav-close" class="nav__button nav__button--close" aria-expanded="true" aria-controls="nav-list">
                        <img src="images/icon-close.svg" alt="">
                    </button>
                </div>
            </nav>
        </div>
    </div>
</header>